.nav-si {
  height: 100vh;
  width: 100%;
  position: absolute;
  border-radius: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 46px;
}
.invite {
  /* height: 26px;
    width: 70px; */
  margin-left: 40px;
  color: #333539;
  font-family: "Mulish";
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.22px;
  line-height: 26px;
}
.route {
  margin-top: 25px;
  /* height: 500px; */
  /* background-color: lightblue; */
  text-align: left;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.route-container {
  text-align: left;
  height: 75px;
  z-index: 2;
  /* width: 80%; */
  /* margin-left: 40px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-si-main {
  /* background-color: pink; */
  /* background-color:#121432; */
  background-image: url(../../../assets/images/img_bg.png);

  /* padding: 0% 20%; */

  background-repeat: no-repeat;

  background-size: cover;

  min-height: 100vh;
  height: 100%;
  width: 76%;
}
.right-si-main-2 {
  background-color: #f6f9fd;
  height: 100vh;
  width: 76%;
}
.overlay {
  z-index: 9;
  margin: 30px;
}

.border-bottom {
  /* box-sizing: border-box; */
  height: 1px;
  width: 100%;
  border: 1px solid #E6E5F2;
  margin-top: 48px;
}
.nav-bar-si-font {
  /* height: 20px;
  width: 142px; */
  color: #333539;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.23px;
  line-height: 20px;
  margin-left: 40px;
}
.nav-bar-si-font-mini {
  margin-top: 3px;
  color: #C1BEBE;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-left: 40px;
}
.send-invite-font {
  padding-top: 15px;
 
  color: #FFFFFF;
  font-family: "Mulish";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 26px;
}
.header-si-1{
  padding-top: 34px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}
.dash-header-R-si {
  /* margin-top: 34px; */
  height: 51px;
  width: 260px;
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
}
.border-bottom-si-1{
  height: 1px;
  width: 95%;
  margin-left: 40px;
  margin-top: 36px;
  border: 1px solid #E6E5F2;
}
.invite-illustartion{
   margin-right: 10%;
  margin-top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-div-si-1{
  margin-top: 35px;
  /* margin-left: 80px; */
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 25%;
}

.name-birth-div-siv {
  display: flex;
  justify-content: space-between;
  /* margin-top: 2.6rem; */
}
.input-siv {
  height: 0%;
  width: 100%;
  padding: 1rem;
  margin-top: 2px;
  border: 1px solid #c1bebe;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.06);
  color: #c1bebe;
  border-radius: 6px;
  font-family: "Mulish";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.input-container-siv {
  height: 68px;
  width: 330px;
  display: flex;
  flex-direction: column;
}
.div-row-to-col{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.input-name-siv {
  color: #c1bebe;
  padding-bottom: 3px;
  font-family: "Mulish";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
 .nav-l >    .active{
  border-right: 5px solid #F52851;
  background-color: #e7e5e5;
}
.header-si-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 34px;
  padding-left: 40px;
  padding-right: 40px;
}
.r-invite-search-name-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-body{
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  /* padding-right: 20%; */
  padding-top: 30px;
  height: auto;
  overflow-y: scroll;
}
.card-box{
  /* height: 216px; */
  width: 250px;
  margin-bottom: 30px;
  margin-right: 40px;
  border-radius: 7px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 20px;
  padding-bottom: 30px;
}
.card-head{
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
  padding-top: 15px;
}
/* margin-top: 14px;
margin-left: 20px;
margin-right: 129px;
padding-bottom: 30px; */
.border-bottom-card-head{
  box-sizing: border-box;
  margin-top: 14px;
  height: 1px;
  width: 250px;
  border: 1px solid #EBEFF5;
}
.icn-name-div{
  display: flex;
  /* justify-content: space-between; */
  margin-top: 15px;
}
.bangalore-font {
  color: #535353;
  font-family: "Mulsih";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.resend-invite-btn {
  height: 34px;
  width: 150px;
  border-radius: 8px;
  background-color: #F52851;
  border: none;
}
.resend-invite-btn p {
  font-family: "Mulish";
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}

.btn-div-resend{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-right: 20px;
}